{% extends 'base_service.html' %}


{% block header %}
    <title>Machine Learning Enhancement</title>
    <link rel="canonical" href="https://www.sifafx.com/">
    <meta name="title" content="Machine Learning Enhancement">
    <meta name="description" content="Explore cutting-edge automated trading solutions tailored for your success.">
    <meta property="og:title" content="Machine Learning Enhancement">
    <meta property="og:description" content="Machine Learning Enhancement">    
{% endblock %}

    {% block custom_styles %} 
    <style>
        body {
            font-family: "Raleway", Sans-serif;
            box-sizing: border-box;

        }

        .font-raleway {
            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;


        }

        .font-raleway-small {
            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            color: #dbdbdb;
        }
    </style>
    {% endblock %}
</head>

<body class=" text-white bg-[#1c1f1f] flex-col">


    {% block content %}
    <!-- Main Content -->
    <div class="bg-[#1c1f1f] text-[#dbdbdb] p-5 pt-24 md:flex md:flex-row md:justify-center md:align-center ">
        <div class="container  py-6 md:py-20 md:flex-initial">

            <div class="grid grid-cols-2 md:grid-cols-3 md:gap-4 px-2.5">

                <div class="w-full h-full order-1 mb-5 md:flex md:flex-row  md:justify-center md:align-center
                 ">

                    <img alt="Close-up of a computer motherboard with various components" src="{{url_for('static', filename='Assets/Service7.jpeg')}}"
                        class="object-cover w-96 h-full mb-4 md:mb-0  aspect-[4/5] md:md:w-4/5 md:h-4/5 lg:w-[200px] lg:h-5/6  " />

                </div>
                <div class="col-span-2 gap-4 order-2 lg:w-5/6">
                    <h1 class="text-5xl font-raleway text-[#C19957] mt-5 mb-2.5 lg:mt-0">Machine Learning Enhancement
                    </h1>
                    <p class="text-xl text-white font-light mb-2 ">From $7,500</p>
                    <p class="text-[#dbdbdb]">
                        Leverage advanced machine learning techniques to identify patterns in your trading strategy,
                        optimize parameters, and enhance decision-making processes. We can implement ML-based filters
                        and confirmations while maintaining your core strategy rules.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


</body>

